* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  display: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.calc {
  input{
    height: 30px;
  }

  &__container {
    display: flex;
    padding-top: 100px;
  }

  &__box {
    text-align: center;
    width: 50%;
  }

  &__input {
    padding: 20px 0;
  }

  &__input #symbol {
    display: inline-block;
    width: 10px;
    text-align: center;
  }

  &__btns {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  &__btns button {
    width: 90px;
    margin: 0 10px;
    border: none;
    padding: 10px;
    border-radius: 4px;
  }

  &__minmax {
    padding: 20px 0;
  }

  &__minmax button{
    width: 60px;
    border: none;
    padding: 10px;
    border-radius: 4px;
  }

  &__history {
    width: 50%;

  }

  &__history_box {
    border: 1px solid gainsboro;
    height: 200px;
    overflow: scroll;
  }
  &__clear {
    width: 90px;
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
  }
}

